@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

/* 스크롤바 */

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  background-color: #ddd;
}
::-webkit-scrollbar-button {
  display: none;
}

/* 모바일 서브메뉴 */
.sub_menu_m {
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  overflow: hidden;
}
.sub_menu_m > div:first-child {
  position: absolute;
  right: 0;
  height: 100%;
  width: 332px;
  background-color: white;
  display: flex;
  flex-direction: column;
  z-index: 998;
  transform: translateX(332px);
  transition: 0.5s;
}
.sub_menu_m .sec1 {
  width: 100%;
  height: 186px;
  background-color: #f9f9f9;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.sub_menu_m .sec1 > .up {
  display: flex;
  justify-content: space-between;
}
.sub_menu_m .up .chatbot {
  display: flex;
  align-items: center;
}
.sub_menu_m .up .chatbot span {
  font-size: 14px;
  font-weight: 700;
  margin-left: 8px;
  position: relative;
  top: -1px;
}
.sub_menu_m .up > button {
  margin: 0;
  border: none;
  background: none;
  padding: 0;
}
.sub_menu_m .sec1 > .middle {
  width: 94%;
  height: 24px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  box-sizing: border-box;
  order: 1;
}
.sub_menu_m .sec1 > .middle > a {
  font-size: 15px;
  font-weight: 600;
  color: #777;
}
.sub_menu_m .sec1 > .middle > a:nth-child(1) {
  background-color: #222;
  width: 74px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  border-radius: 30px;
  margin-right: 4px;
}
.sub_menu_m .sec1 > .middle > div {
  width: 1px;
  height: 10px;
  background-color: #ddd;
}
.sub_menu_m .sec1 > .middle img {
  position: relative;
  top: -3px;
  left: 2px;
}
.sub_menu_m .sec1 > .down {
  position: relative;
}
.sub_menu_m .sec1 > .down > input {
  height: 40px;
}
.sub_menu_m .sec1 > .down > input:nth-child(1) {
  width: 100%;
  box-sizing: border-box;
  border-radius: 40px;
  border: 1px solid #ddd;
  padding: 16px;
  font-size: 14px;
  font-family: "NanumSquare", sans-serif;
}
.sub_menu_m .sec1 > .down > input:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 40px 40px 0;
  border: none;
  font-size: 0;
  display: block;
  width: 48px;
  background: url(../img/main/submenu_m/search.svg) no-repeat,
    linear-gradient(to bottom, #ee0000, #d10000);
  background-position: 15px 12px, 0;
}
.sub_menu_m .sec2 {
  display: flex;
  flex-direction: column;
}
.sub_menu_m .sec2 > a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 66px;
  padding: 0 25px;
  box-sizing: border-box;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-weight: 700;
}
.sub_menu_m .sec2 > div {
  width: 100%;
  height: 20px;
  background-color: #f9f9f9;
}
.sub_menu_m .sec2 > a:nth-child(4) {
  border: none;
}
.sub_menu_m .sec2 > a:nth-child(5) > img,
.sub_menu_m .sec2 > a:nth-child(6) > img {
  transform: rotate(-90deg);
}
#sub_black {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}

/* 카테고리 */

#category {
  display: none;
  padding: 86px 0;
}
#category > div {
  display: flex;
  margin: 0 auto;
  width: fit-content;
}
#category div > a {
  width: 156px;
  height: 64px;
  border: 1px solid #d4d4d4;
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 64px;
  color: #222222;
  transition: 0.3s;
}
#category div > a:nth-child(1) {
  border-radius: 50px 0 0 50px;
}
#category div > a:nth-child(2) {
  left: -1px;
}
#category div > a:nth-child(3) {
  left: -2px;
}
#category div > a:nth-child(4) {
  left: -3px;
}
#category div > a:nth-child(5) {
  left: -4px;
  border-radius: 0 50px 50px 0;
}
#category div > a.is_on {
  background-color: #222222;
  color: white;
}
#category .hover:hover {
  background-color: #f5f5f5;
}

/* 공통 영역 */

* {
  margin: 0 auto;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "NanumSquare", sans-serif;
  letter-spacing: -0.01em;
  color: #222;
}
a {
  color: #222;
  text-decoration: none;
}
.title > a {
  width: 36px;
  height: 36px;
  background-color: #ffca0f;
}
h3 {
  font-size: 26px;
  font-weight: 800;
  color: #222;
  line-height: 36px;
  text-align: center;
  margin-bottom: 65px;
}
.title {
  width: fit-content;
  column-gap: 20px;
  margin: 0 auto;
  display: flex;
}
.title > button {
  width: 36px;
  height: 36px;
  font-size: 0;
  border: none;
  cursor: pointer;
}

/* Header 영역 */

header {
  position: sticky;
  top: 86px;
  z-index: 998;
}

.header_con {
  width: 100%;
  height: 75px;
  position: absolute;
  z-index: 998;
}

/* Header_up */

.header_up {
  width: 100%;
  height: 32px;
  background-color: #222;
  padding: 0 8.5vw;
  box-sizing: border-box;
}
.header_up .left {
  line-height: 32px;
  font-size: 14px;
  position: relative;
}
.header_up .right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
.header_up .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header_up a {
  cursor: pointer;
  color: white;
  transition: 0.3s;
}
.header_up a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header_up #lang_list {
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  top: 42px;
  left: -72px;
}
.header_up #lang_list > a {
  width: 172px;
  height: 34px;
  font-size: 12px;
  text-align: center;
  font-size: 800;
  color: #222;
  background-color: white;
  border: 1px solid #ddd;
  position: relative;
  transition: 0.3s;
}
.header_up #lang_list > a:hover {
  background-color: #f3f3f3;
}
.header_up #lang_list > a:nth-child(2) {
  top: -1px;
}
.header_up #lang_list > a:nth-child(3) {
  font-family: "Roboto", sans-serif;
  top: -2px;
}

/* Header_down */

.header_down > .container {
  width: 100%;
  height: 86px;
  background-color: rgba(255, 255, 255);
  padding: 0 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_down .hm .text {
  font-size: 19px;
  font-weight: 700;
  position: relative;
}
#게임추천,
#핫딜 {
  color: #979797;
  position: relative;
}
.header_down .hm > div > a {
  color: #222222;
  position: relative;
  transition: 0.3s;
}
header .icon a:nth-child(1),
header .icon a:nth-child(2) {
  width: 32px;
  height: 32px;
}
header .icon a:nth-child(3),
header .icon a:nth-child(4) {
  display: none;
  width: 28px;
  height: 28px;
}
header .icon_notification {
  background-image: url(../img/main/icon/notification.svg);
}
header .icon_notification:hover {
  background-image: url(../img/main/icon/notification_h.svg);
  transition: 0.3s;
}
header .icon_search {
  background-image: url(../img/main/icon/search.png);
}
header .icon_search:hover {
  background-image: url(../img/main/icon/search_h.png);
  transition: 0.3s;
}
header .icon_notification_m {
  background-image: url(../img/main/icon/notification_m.svg);
}
header .icon_menu_m {
  background-image: url(../img/main/icon/menu_m.svg);
}
.header_down .container > .hm {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 53px;
  transition: 0.5s;
}
.header_down:hover .container > .hm {
  gap: 70px;
}
.header_down .line {
  height: 3px;
  width: 0;
  display: block;
  background-color: #ffc91f;
  margin: 0 auto;
  font-size: 0;
  position: absolute;
  bottom: -6px;
  transition: 0.3s;
  left: 50%;
}
.header_down .hm > div:hover .line {
  width: 100%;
  left: 0;
}
.header_down .hm > div #핫딜 + .line {
  left: 18px;
}
.header_down .hm > div:hover #핫딜 + .line {
  width: 36px;
  left: 0;
}
.header_down .hm > div:nth-child(7) {
  display: flex;
  gap: 15px;
}
.header_down .hm::after {
  content: "bg";
  width: 100%;
  position: absolute;
  display: block;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 118px;
  height: 0;
  font-size: 0;
  border-bottom: 1px solid #ddd;
  transition: 0.5s;
  box-sizing: border-box;
}
.header_down:hover .hm::after {
  height: 308px;
}
.header_down .hm::before {
  content: "line";
  height: 1px;
  display: block;
  position: absolute;
  background-color: #ddd;
  width: 100%;
  font-size: 0;
  left: 0;
  top: 118px;
  z-index: 998;
}
.header_down .sub_menu {
  position: absolute;
  z-index: 998;
  width: 100px;
  font-size: 16px;
  text-align: center;
  top: 70px;
  left: -31px;
  line-height: 44px;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  opacity: 0;
}
.header_down:hover .sub_menu {
  height: 258px;
  opacity: 1;
}
.header_down .sub_box {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: fit-content;
  position: absolute;
  left: -18px;
  top: 70px;
  overflow: hidden;
  z-index: 998;
  height: 0;
  transition: 0.5s;
  opacity: 0;
}
.header_down:hover .sub_box {
  height: 270px;
  opacity: 1;
}
.header_down .sub_box a {
  width: 230px;
  height: 128px;
  min-height: 128px;
  background-size: cover;
  transition: 0.3s;
}
.header_down .sub_box a:hover {
  filter: brightness(0.8);
}
.header_down .sub_box a:nth-child(1) {
  background-image: url(../img/main/sub_box/1.png);
}
.header_down .sub_box a:nth-child(2) {
  background-image: url(../img/main/sub_box/2.png);
}
.header_down .sub_menu a {
  color: #222;
}
.header_down .sub_menu a:hover {
  font-weight: 800;
}

/* footer */

footer {
  border-top: 1px solid #c5c5c5;
  height: 100px;
  position: relative;
}

/* footer_up */

footer .up ul {
  box-sizing: border-box;
  display: flex;
  column-gap: 40px;
  background-color: transparent;
}
footer .up {
  padding: 0 160px;
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
footer .up li a {
  color: #222;
  font-size: 18px;
  font-weight: 700;
  transition: 0.3s;
}
footer .up li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
footer .up li:nth-child(1) a {
  color: #ee0000;
}
footer .up .sns {
  display: flex;
  column-gap: 36px;
}
footer .up .sns a {
  display: block;
  width: 29px;
  height: 27px;
  transition: 0.3s;
}
footer .up .line {
  display: none;
}
footer .up .sns a:nth-child(1) {
  background: url(../img/main/footer_h/facebook.svg) no-repeat;
}
footer .up .sns a:nth-child(1):hover {
  background: url(../img/main/footer_h/facebook_h.svg) no-repeat;
}
footer .up .sns a:nth-child(2) {
  background: url(../img/main/footer_h/youtube.svg) no-repeat;
  background-position: 0 4px;
}
footer .up .sns a:nth-child(2):hover {
  background: url(../img/main/footer_h/youtube_h.svg) no-repeat;
  background-position: 0 4px;
}
footer .up .sns a:nth-child(3) {
  background: url(../img/main/footer_h/instagram.svg) no-repeat;
  background-position: 0 2px;
}
footer .up .sns a:nth-child(3):hover {
  background: url(../img/main/footer_h/instagram_h.svg) no-repeat;
  background-position: 0 2px;
}
footer .up .sns a:nth-child(4) {
  background: url(../img/main/footer_h/twitter.svg) no-repeat;
  background-position: 0 2px;
}
footer .up .sns a:nth-child(4):hover {
  background: url(../img/main/footer_h/twitter_h.svg) no-repeat;
  background-position: 0 2px;
}
footer .up .sns a:nth-child(5) {
  background: url(../img/main/footer_h/kakaotalk.svg) no-repeat;
  background-position: 0 2px;
}
footer .up .sns a:nth-child(5):hover {
  background: url(../img/main/footer_h/kakaotalk_h.svg) no-repeat;
  background-position: 0 2px;
}

/* footer_down */

footer .down {
  display: flex;
  background-color: #222;
  padding: 85px 8.5vw;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
}
footer .left {
  display: flex;
}
footer .down p {
  color: #707070;
  line-height: 180%;
  font-size: 14px;
}
footer .left > div {
  display: flex;
  align-items: center;
  padding: 0 54px;
}
footer .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  row-gap: 10px;
  text-align: right;
}
footer .right span {
  font-size: 28px;
  font-weight: 800;
  color: #707070;
}
footer .right a {
  font-size: 14px;
  padding: 15px 22px;
  border: 1px solid #ffc91f;
  color: #ffc91f;
  display: inline-block;
  transition: 0.3s;
}
footer .right a:hover {
  background-color: rgba(255, 201, 31, 0.1);
}
footer .right > div {
  display: flex;
  column-gap: 8px;
  margin-bottom: 12px;
}

/* 반응형 */

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  header h1 img {
    height: 32px;
  }
  .header_down .container > .hm {
    gap: 34px;
  }
  .header_down:hover .container > .hm {
    gap: 34px;
  }
  .header_down .hm .text {
    font-size: 17px;
  }
  footer .up {
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
  }
  footer .up .line {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #c5c5c5;
    top: 90px;
  }
  footer .up ul {
    position: relative;
    top: -29px;
  }
  footer .up .sns {
    position: relative;
    top: 34px;
  }
  footer .down {
    flex-direction: column;
    gap: 30px;
  }

  footer .left {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  footer .right {
    align-items: center;
    text-align: center;
  }
  footer .right > div {
    margin-bottom: 24px;
  }
  footer .right span {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 1024px) {
  #category {
    display: block;
    padding: 0;
    padding-top: 73px;
    position: fixed;
    background-color: white;
    z-index: 900;
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  #category > div {
    margin: 0;
    margin-left: 20px;
  }
  #category div > a {
    white-space: nowrap;
    width: auto;
    height: auto;
    padding: 16px;
    border: none;
    line-height: 1;
    color: #9a9a9a;
    font-weight: 700;
  }
  #category div > a:nth-child(1) {
    border-radius: 0;
  }
  #category div > a:nth-child(2) {
    left: 0;
  }
  #category div > a:nth-child(3) {
    left: 0;
  }
  #category div > a:nth-child(4) {
    left: 0;
  }
  #category div > a:nth-child(5) {
    left: 0px;
    border-radius: 0;
  }
  #category div > a.is_on {
    background-color: white;
    color: #222;
    border-bottom: 3px solid #ffca0f;
    font-weight: 800;
  }
}

@media screen and (min-width: 563px) and (max-width: 1024px) {
  header h1 img {
    height: 26px;
  }

  .header_up {
    display: none;
  }
  .header_up,
  .header_down > .container {
    padding: 0 20px;
  }
  .header_down > .container {
    height: 74px;
    border-bottom: none;
  }
  .header_down > .container > .hm {
    display: none;
  }
  header .icon {
    gap: 10px;
  }
  header .icon a:nth-child(1),
  header .icon a:nth-child(2) {
    display: none;
  }
  header .icon a:nth-child(3),
  header .icon a:nth-child(4) {
    display: block;
  }
  .header_con {
    top: 0px;
    position: fixed !important;
  }
  footer .up {
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
  }
  footer .up .line {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #c5c5c5;
    top: 90px;
  }
  footer .up ul {
    position: relative;
    top: -29px;
  }
  footer .up ul > li {
    flex-shrink: 0;
  }
  footer .up li a {
    font-size: 14px;
  }
  footer .up .sns {
    position: relative;
    top: 34px;
  }
  footer .down {
    flex-direction: column;
    gap: 30px;
    padding: 85px 20px;
  }
  footer .left {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  footer .right {
    align-items: center;
    text-align: center;
  }
  footer .right > div {
    margin-bottom: 24px;
    width: 100%;
  }
  footer .right a {
    width: 100%;
    padding: 15px 0;
  }
  footer .right span {
    font-size: 24px;
    margin-bottom: 14px;
  }
}

@media screen and (max-width: 562px) {
  header h1 img {
    height: 26px;
  }
  .header_up {
    display: none;
  }
  .header_up,
  .header_down > .container {
    padding: 0 20px;
  }
  .header_down > .container {
    height: 74px;
  }
  .header_down > .container > .hm {
    display: none;
  }
  header .icon {
    gap: 10px;
  }
  header .icon a:nth-child(1),
  header .icon a:nth-child(2) {
    display: none;
  }
  header .icon a:nth-child(3),
  header .icon a:nth-child(4) {
    display: block;
  }
  .header_down > .container {
    border-bottom: none;
  }
  .header_con {
    top: 0px;
    position: fixed;
  }
  footer .up {
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
  }
  footer .up .line {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #c5c5c5;
    top: 90px;
  }
  footer .up ul {
    position: relative;
    top: -29px;
  }
  footer .up ul > li {
    flex-shrink: 0;
  }
  footer .up li a {
    font-size: 14px;
  }
  footer .up .sns {
    position: relative;
    top: 34px;
  }
  footer .down {
    flex-direction: column;
    gap: 30px;
    padding: 85px 20px;
  }
  footer .left {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  footer .right {
    align-items: center;
    text-align: center;
  }
  footer .right > div {
    margin-bottom: 24px;
    width: 100%;
  }
  footer .right a {
    width: 100%;
    padding: 15px 0;
  }
  footer .right span {
    font-size: 24px;
    margin-bottom: 14px;
  }
}
