@charset "utf-8";

/* header */

.header_con {
  top: -118px;
}

/* section1 */

.section1 {
  width: 100%;
  height: 718px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 8.5vw;
  margin-top: 118px;
  position: relative;
  overflow: hidden;
}

/* section1 - bar */

.section1 .bar {
  opacity: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 28px;
  position: relative;
  z-index: 100;
}
.section1 .bar > div {
  width: 50px;
  height: 4px;
  background-color: white;
}
.section1 .bar .opacity {
  background-color: rgb(255, 255, 255, 0.2);
  cursor: pointer;
}
.section1 .bar .opacity:hover {
  background-color: rgb(255, 255, 255, 0.8);
  cursor: pointer;
}

/* section1 - text */

.section1 .text {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 180px;
  position: relative;
  z-index: 100;
}
.section1 .text .up {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 60px;
  animation-name: mt1;
  animation-duration: 1s;
  animation-delay: 0.1s;
}
@keyframes mt1 {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#main_control1 {
  background: transparent;
}
#main_control2 {
  background: transparent;
}
.section1 .up > span {
  color: #ffca0f;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
.section1 .text .number {
  display: flex;
  column-gap: 12px;
}
.section1 .text .number > span {
  font-size: 26px;
  margin-top: 4px;
  color: white;
}
.section1 .control {
  width: 36px;
  height: 36px;
}
.section1 .text h2 {
  animation-name: mt2;
  animation-duration: 2s;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
}
@keyframes mt2 {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.section1 .text h2 > a {
  color: white;
  font-size: 52px;
  font-weight: bold;
  line-height: 78.5px;
  transition: 0.3s;
}
.section1 .text h2 > a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.section1 .scroll_down {
  position: relative;
  top: 310px;
  left: 0px;
  opacity: 50%;
  transition: 0.5s;
  animation-name: scroll_down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: 100;
}
@keyframes scroll_down {
  0% {
    opacity: 50%;
  }
  20% {
    opacity: 0%;
  }
  40% {
    opacity: 50%;
  }

  to {
    opacity: 50%;
  }
}

/* section1 - img */

.section1 > .slide {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100vw;
  min-height: 844px;
  /* animation-name: slide;
  animation-delay: 3s;
  animation-duration: 30s;
  animation-iteration-count: infinite; */
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  12% {
    transform: translateX(-20%);
  }
  24% {
    transform: translateX(-20%);
  }
  36% {
    transform: translateX(-40%);
  }
  48% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-60%);
  }
  72% {
    transform: translateX(-60%);
  }
  84% {
    transform: translateX(-80%);
  }
  96% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(-80%);
  }
}
.slick-slide {
  display: block;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 844px;
  position: relative;
  left: -1px;
}
.slick-slide:hover {
  filter: brightness(0.8);
}
.slick-slide:nth-child(2),
.slick-slide:nth-child(6) {
  background-image: url(../img/main/bg/1.png);
}
.slick-slide:nth-child(3) {
  background-image: url(../img/main/bg/2.png);
}
.slick-slide:nth-child(4) {
  background-image: url(../img/main/bg/3.png);
}
.slick-slide:nth-child(5),
.slick-slide:nth-child(1) {
  background-image: url(../img/main/bg/4.png);
}
#챗봇 {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 100px;
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0);
  font-family: "NanumSquare", sans-serif;
  font-size: 14px;
  transition: 0.3s;
  opacity: 70%;
}
#챗봇:hover {
  color: rgba(255, 255, 255, 1);
  opacity: 100%;
}
#챗봇:after {
  content: "챗봇 상담하기";
  font-size: 0;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 22px;
  bottom: 30px;
  background-image: url(../img/main/chatbot.svg);
}
/* section2 */

.section2 {
  background-color: #ffffff;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  padding: 114px 8.5vw;
  overflow: hidden;
}
.section2 .card > .box > .pick_m {
  display: none;
}
.title > .prev {
  background: transparent url(../img/main/btn/control_l.svg) no-repeat;
  transition: 0.3s;
}
.title > .prev:hover {
  background: transparent url(../img/main/btn/control_l_h.svg) no-repeat;
}
.title > .next {
  background: transparent url(../img/main/btn/control_r.svg) no-repeat;
  transition: 0.3s;
}
.title > .next:hover {
  background: transparent url(../img/main/btn/control_r_h.svg) no-repeat;
}
.section2 .card_con {
  column-gap: 50px;
  display: flex;
}
.section2 .card {
  width: fit-content;
}
.section2 .card > .box {
  position: relative;
  width: 310px;
  height: 407px;
  background-color: #f2f2f2;
  display: flex;
  cursor: pointer;
}
.section2 .card > .box:hover {
  background-color: #e2e2e2;
}
.section2 .card > .box > .pick {
  position: absolute;
  top: -10px;
  left: -10px;
}
.section2 .card > .box > .game {
  margin: auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  width: 64%;
}
.section2 .card > .box:hover > .game {
  width: 68%;
}
.section2 .card .sub_name {
  font-size: 12px;
  font-weight: 500;
  color: #979797;
  line-height: 26px;
  margin-top: 24px;
}
.section2 .card .name {
  font-weight: 800;
  font-size: 20px;
}
.section2 .card .view {
  height: 16px;
  background-color: #ee0000;
  padding: 11px 13px;
  font-size: 12px;
  font-weight: 800;
  color: white;
  display: flex;
  padding-bottom: 6px;
  margin-top: 31px;
  transition: 0.3s;
}
.section2 .card .view::after {
  content: "arrow";
  font-size: 0;
  display: block;
  width: 16px;
  height: 4px;
  background-image: url(../img/main/icon/arrow.svg);
  background-position: 0px 5px;
  margin: 3px 7px;
  margin-right: 0px;
}
.section2 .card .view:hover {
  filter: brightness(0.8);
}
.section2 .card > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.section2 .card .score {
  text-align: center;
  padding: 0 18px;
}
.section2 .card .score p:nth-child(1) {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}
.section2 .card .score p:nth-child(2) {
  font-size: 28px;
  font-weight: 800;
}
.section2 .card .line {
  height: 23px;
  width: 1px;
  background-color: #dbdada;
  margin-top: 9px;
}
.section2 .card > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
}
.section2 .score2_con {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 2px;
}
.section2 .score2 {
  display: flex;
  column-gap: 8px;
}
.section2 .score2 > span {
  text-align: center;
  width: 46px;
  font-size: 14px;
  font-weight: 700;
}
.section2 .card .bar {
  width: 162px;
  height: 10px;
  background-color: #d9d9d9;
  margin-top: 2px;
}
.section2 .card .bar::before {
  content: "bar";
  width: 132px;
  height: 10px;
  background-color: #222;
  font-size: 0;
  display: block;
}
#critic_bar::before {
  width: 90px;
}
.section2 .blind {
  position: absolute;
  height: 100%;
  width: 8.5vw;
  background-color: #ffffff;
  top: 0;
  right: 0;
  z-index: 2;
}
.section2 .blind2 {
  position: absolute;
  height: 100%;
  width: 50px;
  background-image: linear-gradient(to right, rgb(255, 255, 255, 0), white);
  top: 0;
  right: 8.5vw;
  z-index: 2;
}

/* section3 */

.section3 {
  padding: 50px 0 150px 0;
  background-color: white;
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
}
.section3 > .img {
  flex: 1 1 0;
  position: relative;
}
.section3 > .img > .main {
  width: 1100px;
  height: 466px;
  position: relative;
  top: 28px;
  z-index: 1;
}
.section3 > .img > .sub {
  position: absolute;
  top: -18px;
  right: 38px;
}
.section3 > .img::after {
  content: "STRATEGY";
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 8vw;
  position: absolute;
  right: -116px;
  top: 418px;
  color: #58305b;
  z-index: 2;
}
.section3 > div:last-child {
  text-align: center;
  position: relative;
  top: 164px;
  flex: 1 1 0;
  min-width: 45vw;
  left: -7vw;
}
.section3 span {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.section3 h3 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 46px;
  margin-top: 20px;
}
.section3 .shortcut {
  background-image: url(../img/main/btn/shortcut.svg);
  width: 200px;
  height: 70px;
  margin: 0 auto;
  transition: 0.3s;
}
.section3 .shortcut:hover {
  background-image: url(../img/main/btn/shortcut_h.svg);
}
.section3 a {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

/* section4 */

.section4 {
  padding: 100px 0 267px 0;
  background-color: white;
}
.section4 .shortcut {
  display: flex;
  column-gap: 64px;
  margin: 0 auto;
  width: fit-content;
}
.section4 .shortcut > a {
  width: 146px;
  height: 146px;
  border-radius: 100px;
  background-color: #f2f2f2;
  transition: 0.3s;
}
.section4 .shortcut > a:hover {
  filter: brightness(0.8);
}
.section4 .shortcut > a:nth-child(2) {
  background-color: #222222;
}
.section4 .shortcut > a:nth-child(4) {
  background-color: #222222;
}
.section4 .shortcut > a:nth-child(6) {
  background-color: #0eb200;
}
.section4 .shortcut > a:nth-child(1) > i {
  width: 60px;
  height: 60px;
  background-image: url(../img/main/css_sprites.png);
  background-position: -77px -96px;
  display: inline-block;
  margin: 43px;
}
.section4 .shortcut > a:nth-child(2) > i {
  width: 72px;
  height: 57px;
  background-image: url(../img/main/css_sprites.png);
  background-position: -96px -10px;
  display: inline-block;
  margin: 43px 36px;
}
.section4 .shortcut > a:nth-child(3) > i {
  width: 66px;
  height: 66px;
  background-image: url(../img/main/css_sprites.png);
  background-position: -10px -10px;
  display: inline-block;
  margin: 40px;
}
.section4 .shortcut > a:nth-child(4) > i {
  width: 57px;
  height: 57px;
  background-image: url(../img/main/css_sprites.png);
  background-position: -188px -10px;
  display: inline-block;
  margin: 45px 43px;
}
.section4 .shortcut > a:nth-child(5) > i {
  width: 47px;
  height: 76px;
  background-image: url(../img/main/css_sprites.png);
  background-position: -10px -96px;
  display: inline-block;
  margin: 36px 50px;
}
.section4 .shortcut > a:nth-child(6) > i {
  width: 45px;
  height: 9px;
  background-image: url(../img/main/css_sprites.png);
  background-position: -104px -192px;
  display: inline-block;
  margin: 68px 50px;
}
.section4 .shortcut > a > span {
  font-size: 20px;
  margin-top: 23px;
  display: block;
  text-align: center;
  font-weight: 700;
  color: #222;
}

/* section5 */

.section5 {
  padding: 100px 0;
  background: #303030 url(../img/main/recom.svg) no-repeat;
  background-size: cover;
  overflow: hidden;
}
.section5 h3 {
  color: white;
  font-weight: 700;
  margin-bottom: 86px;
}
.section5 .title > .prev {
  background: transparent url(../img/main/btn/control_w_l.png) no-repeat;
  transition: 0.3s;
}
.section5 .title > .prev:hover {
  background: transparent url(../img/main/btn/control_w_l_h.png) no-repeat;
}
.section5 .title > .next {
  background: transparent url(../img/main/btn/control_w_r.png) no-repeat;
  transition: 0.3s;
}
.section5 .title > .next:hover {
  background: transparent url(../img/main/btn/control_w_r_h.png) no-repeat;
}
.section5 .card_con {
  display: flex;
  position: relative;
  left: 8.5vw;
  column-gap: 50px;
}
.section5 .card_con > a {
  width: fit-content;
}
.section5 .card_con > a:hover .img {
  background-size: 160%;
  background-position: center;
}
.section5 .card_con > a:hover .name > h4 {
  background-color: rgba(255, 255, 255, 0.1);
}
.section5 .img {
  width: 666px;
  height: 510px;
  background-size: 150%;
  background-position: center;
  transition: 0.3s;
}
.section5 .card_con > a:nth-child(1) > .img {
  background-image: url(../img/main/video/1.png);
}
.section5 .card_con > a:nth-child(2) > .img {
  background-image: url(../img/main/video/2.png);
}
.section5 .card_con > a:nth-child(3) > .img {
  background-image: url(../img/main/video/3.png);
}
.section5 .name {
  display: flex;
  color: white;
  justify-content: space-between;
  margin-top: 26px;
  align-items: center;
}
.section5 .name h4 {
  font-size: 24px;
  font-weight: 600;
  transition: 0.3s;
}
.section5 .name span {
  font-size: 18px;
  font-weight: 600;
}
.section5 .name span::before {
  content: "view";
  width: 20px;
  height: 13px;
  display: inline-block;
  font-size: 0;
  position: relative;
  top: -12px;
  left: -8px;
  background: url(../img/main/css_sprites.png) -265px -98px;
}

/* section6 */

.section6 {
  padding: 142px 8.5vw 177px 8.5vw;
  position: relative;
  z-index: 1;
}
.section6 table {
  border-collapse: collapse;
  width: 100%;
  border-top: 5px solid #d9d9d9;
  border-bottom: 5px solid #d9d9d9;
}
.section6 table td {
  padding: 56px 0;
  border-bottom: 1px solid #d9d9d9;
}
.section6 table td:nth-child(1) a {
  font-size: 22px;
  color: #222;
  font-weight: 700;
  position: relative;
  left: 70px;
}
.section6 table td:nth-child(1) a::after {
  content: "good";
  width: 25px;
  height: 24px;
  display: inline-block;
  font-size: 0;
  position: absolute;
  right: -38px;
  background: url(../img/main/css_sprites.png) -265px -10px;
}
.section6 table td:nth-child(1) a::before {
  content: "102";
  position: absolute;
  right: -84px;
  top: 3px;
  font-family: "NanumSquare", sans-serif;
  font-size: 20px;
  color: #717171;
}
.section6 table td:nth-child(2) a,
.section6 table td:nth-child(3) {
  font-size: 20px;
  color: #717171;
  font-weight: 700;
  text-align: center;
}
.section6 a {
  transition: 0.3s;
}
.section6 a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* section7 */

.section7 {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 0 8.5vw;
}
.section7 > a {
  height: 288px;
  background-image: url(../img/main/ad.png);
  background-size: cover;
  display: block;
  margin: 0 auto;
  transition: 0.3s;
}
.section7 > a:hover {
  filter: brightness(0.8);
}

/* section8 */

.section8 {
  position: relative;
  padding: 300px 8.5vw 234px 8.5vw;
  z-index: 2;
}
.section8 > span {
  font-size: 5.2vw;
  font-weight: 500;
  letter-spacing: -0.5px;
  position: relative;
  z-index: 1;
}
.section8 > .high {
  content: "high";
  width: 360px;
  height: 335px;
  background: url(../img/main/text_high.png);
  background-size: cover;
  display: inline-block;
  font-size: 0;
  position: absolute;
  left: -51px;
  top: 184px;
  z-index: -998;
}
.section8 img {
  width: 30vw;
}

/* body_bg */

.body_bg {
  width: 573px;
  height: 1325px;
  position: absolute;
  right: 0;
  top: -1322px;
  z-index: -999;
  background-image: url(../img/main/body_bg.svg);
}

/* 반응형 */

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  header h1 img {
    height: 32px;
  }
  .header_down ul > .hm {
    gap: 34px;
  }
  .header_down .hm .text {
    font-size: 17px;
  }
  .section1 {
    height: 668px;
  }
  .section3 > div:last-child {
    left: -3vw;
  }
  .section3 h3 {
    font-size: 34px;
  }
  .section4 {
    padding: 40px 0 267px 0;
  }
  .section4 .shortcut {
    column-gap: 30px;
  }
  .section4 .shortcut > a {
    transform: scale(0.9);
  }
  .section6 table td:nth-child(1) a {
    left: 2vw;
  }
  .section6 table td:nth-child(2) a {
    display: none;
  }
  footer .up {
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
  }
  footer .up .line {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #c5c5c5;
    top: 90px;
  }
  footer .up ul {
    position: relative;
    top: -29px;
  }
  footer .up .sns {
    position: relative;
    top: 34px;
  }
  footer .down {
    flex-direction: column;
    gap: 30px;
  }

  footer .left {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  footer .right {
    align-items: center;
    text-align: center;
  }
  footer .right > div {
    margin-bottom: 24px;
  }
  footer .right span {
    margin-bottom: 14px;
  }
  .body_bg {
    top: -1414px;
  }
}

@media screen and (min-width: 563px) and (max-width: 1024px) {
  h3 {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .header_up {
    display: none;
  }
  .header_up,
  .header_down > ul {
    padding: 0 20px;
  }
  .header_down > ul {
    height: 74px;
  }
  .header_down > ul > .hm {
    display: none;
  }
  header .icon_search {
    display: none;
  }
  header .icon_menu {
    display: block;
  }
  .header_down > ul {
    border-bottom: 1px solid #ddd;
  }
  .header_con {
    top: 0px;
    position: fixed;
  }
  .section1 {
    max-height: 694px;
    height: 108vw;
    padding: 0 20px;
    margin-top: 74px;
    justify-content: space-between;
    flex-direction: column;
  }
  .section1 .control {
    transform: scale(0.8);
  }
  .section1 .text h2 > a {
    font-size: 32px;
    line-height: 50px;
  }
  .section1 .text {
    top: auto;
    margin-bottom: 28px;
  }
  .section1 .text .up {
    margin-bottom: 30px;
    gap: 10px;
  }
  .section1 .scroll_down {
    display: none;
  }
  .section1 .bar {
    margin-top: 18px;
  }
  .section1 .bar > div {
    width: 100%;
  }
  .section1 .text .up {
    margin-bottom: 14px;
  }
  .section1 .up > span {
    font-size: 14px;
  }
  .section1 .text .number > span {
    font-size: 14px;
    margin-top: 0;
  }
  .section1 > .slide {
    min-height: 100%;
  }
  .title > button {
    transform: scale(0.8);
  }
  #챗봇 {
    display: none;
  }
  .section2 {
    padding: 60px 20px;
    padding-bottom: 20px;
  }
  .section2 .card {
    width: 186px;
  }
  .section2 .card > .box {
    width: 186px;
    height: 272px;
  }
  .section2 .card_con {
    column-gap: 14px;
  }
  .section2 .card > div:nth-child(3) {
    display: none;
  }
  .section2 .card > .box > .pick {
    display: none;
  }
  .section2 .card > .box > .pick_m {
    display: block;
    position: absolute;
  }
  .section2 .card .view {
    display: none;
  }
  .section2 .card .name {
    font-size: 14px;
    line-height: 22px;
  }

  .section3 {
    display: block;
    padding: 0px;
    height: 190px;
    margin-bottom: 140px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/main/sec3.png);
    background-size: 200%;
    background-position: -400px -154px;
    background-repeat: repeat, no-repeat;
  }
  .section3 > .img {
    display: none;
  }
  .section3 > div:last-child {
    top: 0px;
    background-color: white;
    padding: 40px;
    margin: 20px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50px;
    left: 0;
  }
  .section3 h3 {
    font-size: 22px;
    margin-bottom: 16px;
    margin-top: 14px;
    text-align: center;
  }
  .section3 span {
    font-size: 16px;
  }
  .section3 .shortcut {
    transform: scale(0.8);
  }
  .section4 {
    padding: 20px 0 70px 0;
  }
  .section4 .shortcut {
    column-gap: 16px;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    justify-content: center;
  }
  .section4 .shortcut > a {
    width: 74px;
    height: 74px;
    flex: 0 0 74px;
  }
  .section4 .shortcut > a > i {
    transform: scale(0.6);
  }
  .section4 .shortcut > a:nth-child(1) > i {
    margin: 7px;
  }
  .section4 .shortcut > a:nth-child(2) > i {
    margin: 7px 0px 0px 1px;
  }
  .section4 .shortcut > a:nth-child(3) > i {
    margin: 4px;
  }
  .section4 .shortcut > a:nth-child(4) > i {
    margin: 8px 0px 0px 7px;
  }
  .section4 .shortcut > a:nth-child(5) > i {
    margin: 0px 0px 0px 13px;
  }
  .section4 .shortcut > a:nth-child(6) > i {
    margin: 32px 0px 0px 14px;
  }
  .section4 .shortcut > a:first-child {
    margin-left: 20px;
  }
  .section4 .shortcut > a > span {
    display: none;
  }
  .section5 {
    padding: 50px 0;
  }
  .section5 h3 {
    margin-bottom: 30px;
  }
  .section5 .name h4 {
    font-size: 16px;
  }
  .section5 .name span {
    display: none;
  }
  .section5 .card_con {
    left: 20px;
    column-gap: 14px;
  }
  .section5 .img {
    width: 320px;
    height: 244px;
  }
  .section6 {
    padding: 60px 20px;
    padding-bottom: 100px;
  }
  .section6 table td {
    padding: 24px 0;
  }
  .section6 table td:nth-child(1) a {
    font-size: 16px;
    left: 0;
  }
  .section6 table td:nth-child(1) a::after {
    transform: scale(0.7);
    right: -28px;
    top: -3px;
  }
  .section6 table td:nth-child(1) a::before {
    right: -55px;
    top: 3px;
    font-size: 14px;
  }
  .section6 table td:nth-child(2) a {
    font-size: 14px;
  }
  .section6 table td:nth-child(3) {
    font-size: 14px;
  }
  .section7 {
    padding: 0;
  }
  .section7 > a {
    height: 222px;
  }
  .section8 {
    position: relative;
    padding: 100px 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
  }
  .section8 > span {
    font-size: 35px;
  }
  .section8 img {
    width: 400px;
  }
  .section8 > .high {
    width: 16vw;
    height: 12vw;
    left: 24vw;
    top: 60px;
    z-index: -998;
  }
  footer .up {
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
  }
  footer .up .line {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #c5c5c5;
    top: 90px;
  }
  footer .up ul {
    position: relative;
    top: -29px;
  }
  footer .up ul > li {
    flex-shrink: 0;
  }
  footer .up li a {
    font-size: 14px;
  }
  footer .up .sns {
    position: relative;
    top: 34px;
  }
  footer .down {
    flex-direction: column;
    gap: 30px;
    padding: 85px 20px;
  }
  footer .left {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  footer .right {
    align-items: center;
    text-align: center;
  }
  footer .right > div {
    margin-bottom: 24px;
    width: 100%;
  }
  footer .right a {
    width: 100%;
    padding: 15px 0;
  }
  footer .right span {
    margin-bottom: 14px;
  }
  .body_bg {
    width: 400px;
    top: -1414px;
  }
}

@media screen and (max-width: 562px) {
  h3 {
    font-size: 18px;
    margin-bottom: 22px;
    text-align: left;
  }
  .header_up {
    display: none;
  }
  .header_up,
  .header_down > ul {
    padding: 0 20px;
  }
  .header_down > ul {
    height: 74px;
  }
  .header_down > ul > .hm {
    display: none;
  }
  header .icon_search {
    display: none;
  }
  header .icon_menu {
    display: block;
  }
  .header_down > ul {
    border-bottom: 1px solid #ddd;
  }
  .header_con {
    top: 0px;
    position: fixed;
  }
  .section1 {
    max-height: 694px;
    height: 108vw;
    padding: 0 20px;
    margin-top: 74px;
    justify-content: space-between;
    flex-direction: column;
  }
  .section1 > .img::after {
    left: -100px;
  }
  .section1 .control {
    display: none;
  }
  .section1 .text h2 > a {
    font-size: 22px;
    line-height: 36px;
    display: block;
    height: 64px;
    overflow: hidden;
  }
  .section1 .text {
    top: auto;
    margin-bottom: 28px;
  }
  .section1 .text .up {
    margin-bottom: 30px;
  }
  .section1 .scroll_down {
    display: none;
  }
  .section1 .bar {
    margin-top: 18px;
  }
  .section1 .bar > div {
    width: 100%;
  }
  .section1 .text .up {
    margin-bottom: 14px;
  }
  .section1 .up > span {
    font-size: 14px;
    margin-left: 0;
  }
  .section1 .text .number > span {
    font-size: 14px;
    margin-top: 0;
  }
  .section1 > .img {
    min-height: 100%;
  }
  #챗봇 {
    display: none;
  }
  .section2 {
    padding: 60px 20px;
    padding-bottom: 20px;
  }
  .title {
    margin: 0;
  }
  .section2 .card {
    width: 122px;
  }
  .section2 .card > .box {
    width: 122px;
    height: 160px;
  }
  .section2 .card_con {
    column-gap: 14px;
  }
  .section2 .card > div:nth-child(3) {
    display: none;
  }
  .section2 .card > .box > .pick {
    display: none;
  }
  .section2 .card > .box > .pick_m {
    display: block;
    position: absolute;
  }
  .section2 .card .view {
    display: none;
  }
  .section2 .card .name {
    font-size: 14px;
    line-height: 22px;
  }
  .title > button {
    transform: scale(0.8);
    position: absolute;
    right: 20px;
    z-index: 900;
  }
  .title > .prev {
    right: 56px;
  }
  .section3 {
    display: block;
    padding: 0px;
    height: 190px;
    margin-bottom: 140px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/main/sec3.png);
    background-size: 300%;
    background-position: -400px -154px;
    background-repeat: repeat, no-repeat;
  }
  .section3 > .img {
    display: none;
  }
  .section3 > div:last-child {
    top: 0px;
    background-color: white;
    padding: 40px;
    margin: 20px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50px;
    left: 0;
  }
  .section3 h3 {
    font-size: 22px;
    margin-bottom: 16px;
    margin-top: 14px;
    text-align: center;
  }
  .section3 span {
    font-size: 16px;
  }
  .section3 .shortcut {
    transform: scale(0.8);
  }
  .section4 {
    padding: 20px 0 70px 0;
  }
  .section4 h3 {
    margin-left: 20px;
  }
  .section4 .shortcut {
    column-gap: 16px;
    width: 100%;
    overflow: hidden;
    height: fit-content;
  }
  .section4 .shortcut > a {
    width: 74px;
    height: 74px;
    flex: 0 0 74px;
  }
  .section4 .shortcut > a > i {
    transform: scale(0.6);
  }
  .section4 .shortcut > a:nth-child(1) > i {
    margin: 7px;
  }
  .section4 .shortcut > a:nth-child(2) > i {
    margin: 7px 0px 0px 1px;
  }
  .section4 .shortcut > a:nth-child(3) > i {
    margin: 4px;
  }
  .section4 .shortcut > a:nth-child(4) > i {
    margin: 8px 0px 0px 7px;
  }
  .section4 .shortcut > a:nth-child(5) > i {
    margin: 0px 0px 0px 13px;
  }
  .section4 .shortcut > a:nth-child(6) > i {
    margin: 32px 0px 0px 14px;
  }
  .section4 .shortcut > a:first-child {
    margin-left: 20px;
  }
  .section4 .shortcut > a > span {
    display: none;
  }
  .section5 {
    padding: 50px 0;
  }
  .section5 h3 {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .section5 .name h4 {
    font-size: 16px;
  }
  .section5 .name span {
    display: none;
  }
  .section5 .card_con {
    left: 20px;
    column-gap: 14px;
  }
  .section5 .img {
    width: 320px;
    height: 244px;
  }
  .section6 {
    padding: 60px 20px;
    padding-bottom: 100px;
  }
  .section6 table td {
    padding: 24px 0;
  }
  .section6 table td:nth-child(1) {
    width: 100%;
  }
  .section6 table td:nth-child(1) a {
    font-size: 16px;
    left: 0;
  }
  .section6 table td:nth-child(1) a::before {
    display: none;
  }
  .section6 table td:nth-child(1) a::after {
    display: none;
  }
  .section6 table td:nth-child(2) {
    display: none;
  }
  .section6 table td:nth-child(3) {
    display: none;
  }
  .section7 {
    padding: 0;
  }
  .section7 > a {
    height: 222px;
  }
  .section8 {
    position: relative;
    padding: 70px 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vw;
  }
  .section8 > span {
    font-size: 6.5vw;
  }
  .section8 img {
    width: 64vw;
  }
  .section8 > .high {
    width: 14vw;
    height: 12vw;
    left: 18vw;
    top: 57px;
    z-index: -998;
  }

  .body_bg {
    width: 235px;
    top: -1414px;
  }
}
