@charset "utf-8";

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  header h1 img {
    height: 32px;
  }
  .header_down ul > .hm {
    gap: 34px;
  }
  .header_down .hm .text {
    font-size: 17px;
  }
  .section1 {
    height: 668px;
  }
  .section3 > div:last-child {
    left: -3vw;
  }
  .section3 h3 {
    font-size: 34px;
  }
  .section4 {
    padding: 40px 0 267px 0;
  }
  .section4 .shortcut {
    column-gap: 30px;
  }
  .section4 .shortcut > a {
    transform: scale(0.9);
  }
  .section6 table td:nth-child(1) a {
    left: 2vw;
  }
  .section6 table td:nth-child(2) a {
    display: none;
  }
  footer .up {
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
  }
  footer .up .line {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #c5c5c5;
    top: 90px;
  }
  footer .up ul {
    position: relative;
    top: -29px;
  }
  footer .up .sns {
    position: relative;
    top: 34px;
  }
  footer .down {
    flex-direction: column;
    gap: 30px;
  }

  footer .left {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  footer .right {
    align-items: center;
    text-align: center;
  }
  footer .right > div {
    margin-bottom: 24px;
  }
  footer .right span {
    margin-bottom: 14px;
  }
  .body_bg {
    top: -1414px;
  }
}

@media screen and (min-width: 563px) and (max-width: 1024px) {
  h3 {
    font-size: 18px;
    margin-bottom: 28px;
  }
  header h1 img {
    height: 30px;
  }
  .header_up {
    display: none;
  }
  .header_up,
  .header_down > ul {
    padding: 0 20px;
  }
  .header_down > ul {
    height: 74px;
  }
  .header_down > ul > .hm {
    display: none;
  }
  header .icon_search {
    display: none;
  }
  header .icon_menu {
    display: block;
  }
  .header_down > ul {
    border-bottom: 1px solid #ddd;
  }
  .header_con {
    top: 0px;
    position: fixed;
  }
  .section1 {
    max-height: 694px;
    height: 108vw;
    padding: 0 20px;
    margin-top: 74px;
    justify-content: space-between;
    flex-direction: column;
  }
  .section1 > .img::after {
    left: -100px;
  }
  .section1 .control {
    transform: scale(0.8);
  }
  .section1 .text h2 > a {
    font-size: 32px;
    line-height: 50px;
  }
  .section1 .text {
    top: auto;
    margin-bottom: 28px;
  }
  .section1 .text .up {
    margin-bottom: 30px;
    gap: 10px;
  }
  .section1 .scroll_down {
    display: none;
  }
  .section1 .bar {
    margin-top: 18px;
  }
  .section1 .bar > div {
    width: 100%;
  }
  .section1 .text .up {
    margin-bottom: 14px;
  }
  .section1 .up > span {
    font-size: 14px;
  }
  .section1 .text .number > span {
    font-size: 14px;
    margin-top: 0;
  }
  .section1 > .img {
    min-height: 100%;
  }
  .title > button {
    transform: scale(0.8);
  }
  #챗봇 {
    display: none;
  }
  .section2 {
    padding: 60px 20px;
    padding-bottom: 20px;
  }
  .section2 .card {
    width: 186px;
  }
  .section2 .card > .box {
    width: 186px;
    height: 272px;
  }
  .section2 .card_con {
    column-gap: 14px;
  }
  .section2 .card > div:nth-child(3) {
    display: none;
  }
  .section2 .card > .box > .pick {
    display: none;
  }
  .section2 .card > .box > .pick_m {
    display: block;
    position: absolute;
  }
  .section2 .card .view {
    display: none;
  }
  .section2 .card .name {
    font-size: 14px;
    line-height: 22px;
  }

  .section3 {
    display: block;
    padding: 0px;
    height: 190px;
    margin-bottom: 140px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/main/sec3.png);
    background-size: 200%;
    background-position: -122px -154px;
    background-repeat: repeat, no-repeat;
  }
  .section3 > .img {
    display: none;
  }
  .section3 > div:last-child {
    top: 0px;
    background-color: white;
    padding: 40px;
    margin: 20px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50px;
    left: 0;
  }
  .section3 h3 {
    font-size: 22px;
    margin-bottom: 16px;
    margin-top: 14px;
    text-align: center;
  }
  .section3 span {
    font-size: 16px;
  }
  .section3 .shortcut {
    transform: scale(0.8);
  }
  .section4 {
    padding: 20px 0 70px 0;
  }
  .section4 .shortcut {
    column-gap: 16px;
    width: 100%;
    overflow: hidden;
    height: fit-content;
    justify-content: center;
  }
  .section4 .shortcut > a {
    width: 74px;
    height: 74px;
    flex: 0 0 74px;
  }
  .section4 .shortcut > a > i {
    transform: scale(0.6);
  }
  .section4 .shortcut > a:nth-child(1) > i {
    margin: 7px;
  }
  .section4 .shortcut > a:nth-child(2) > i {
    margin: 7px 0px 0px 1px;
  }
  .section4 .shortcut > a:nth-child(3) > i {
    margin: 4px;
  }
  .section4 .shortcut > a:nth-child(4) > i {
    margin: 8px 0px 0px 7px;
  }
  .section4 .shortcut > a:nth-child(5) > i {
    margin: 0px 0px 0px 13px;
  }
  .section4 .shortcut > a:nth-child(6) > i {
    margin: 32px 0px 0px 14px;
  }
  .section4 .shortcut > a:first-child {
    margin-left: 20px;
  }
  .section4 .shortcut > a > span {
    display: none;
  }
  .section5 {
    padding: 50px 0;
  }
  .section5 h3 {
    margin-bottom: 30px;
  }
  .section5 .name h4 {
    font-size: 16px;
  }
  .section5 .name span {
    display: none;
  }
  .section5 .card_con {
    left: 20px;
    column-gap: 14px;
  }
  .section5 .img {
    width: 320px;
    height: 244px;
  }
  .section6 {
    padding: 60px 20px;
    padding-bottom: 100px;
  }
  .section6 table td {
    padding: 24px 0;
  }
  .section6 table td:nth-child(1) a {
    font-size: 16px;
    left: 0;
  }
  .section6 table td:nth-child(1) a::after {
    transform: scale(0.7);
    right: -28px;
    top: -3px;
  }
  .section6 table td:nth-child(1) a::before {
    right: -55px;
    top: 3px;
    font-size: 14px;
  }
  .section6 table td:nth-child(2) a {
    font-size: 14px;
  }
  .section6 table td:nth-child(3) {
    font-size: 14px;
  }
  .section7 {
    padding: 0;
  }
  .section7 > a {
    height: 222px;
  }
  .section8 {
    position: relative;
    padding: 100px 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vw;
  }
  .section8 > span {
    font-size: 35px;
  }
  .section8 img {
    width: 400px;
  }
  .section8 > .high {
    width: 16vw;
    height: 12vw;
    left: 24vw;
    top: 60px;
    z-index: -998;
  }
  footer .up {
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
  }
  footer .up .line {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #c5c5c5;
    top: 90px;
  }
  footer .up ul {
    position: relative;
    top: -29px;
  }
  footer .up ul > li {
    flex-shrink: 0;
  }
  footer .up li a {
    font-size: 14px;
  }
  footer .up .sns {
    position: relative;
    top: 34px;
  }
  footer .down {
    flex-direction: column;
    gap: 30px;
    padding: 85px 20px;
  }
  footer .left {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  footer .right {
    align-items: center;
    text-align: center;
  }
  footer .right > div {
    margin-bottom: 24px;
    width: 100%;
  }
  footer .right a {
    width: 100%;
    padding: 15px 0;
  }
  footer .right span {
    margin-bottom: 14px;
  }
  .body_bg {
    width: 400px;
    top: -1414px;
  }
}

@media screen and (max-width: 562px) {
  h3 {
    font-size: 18px;
    margin-bottom: 22px;
    text-align: left;
  }
  header h1 img {
    height: 30px;
  }
  .header_up {
    display: none;
  }
  .header_up,
  .header_down > ul {
    padding: 0 20px;
  }
  .header_down > ul {
    height: 74px;
  }
  .header_down > ul > .hm {
    display: none;
  }
  header .icon_search {
    display: none;
  }
  header .icon_menu {
    display: block;
  }
  .header_down > ul {
    border-bottom: 1px solid #ddd;
  }
  .header_con {
    top: 0px;
    position: fixed;
  }
  .section1 {
    max-height: 694px;
    height: 108vw;
    padding: 0 20px;
    margin-top: 74px;
    justify-content: space-between;
    flex-direction: column;
  }
  .section1 > .img::after {
    left: -100px;
  }
  .section1 .control {
    display: none;
  }
  .section1 .text h2 > a {
    font-size: 22px;
    line-height: 36px;
  }
  .section1 .text {
    top: auto;
    margin-bottom: 28px;
  }
  .section1 .text .up {
    margin-bottom: 30px;
  }
  .section1 .scroll_down {
    display: none;
  }
  .section1 .bar {
    margin-top: 18px;
  }
  .section1 .bar > div {
    width: 100%;
  }
  .section1 .text .up {
    margin-bottom: 14px;
  }
  .section1 .up > span {
    font-size: 14px;
  }
  .section1 .text .number > span {
    font-size: 14px;
    margin-top: 0;
  }
  .section1 > .img {
    min-height: 100%;
  }
  #챗봇 {
    display: none;
  }
  .section2 {
    padding: 60px 20px;
    padding-bottom: 20px;
  }
  .title {
    margin: 0;
  }
  .section2 .card {
    width: 122px;
  }
  .section2 .card > .box {
    width: 122px;
    height: 160px;
  }
  .section2 .card_con {
    column-gap: 14px;
  }
  .section2 .card > div:nth-child(3) {
    display: none;
  }
  .section2 .card > .box > .pick {
    display: none;
  }
  .section2 .card > .box > .pick_m {
    display: block;
    position: absolute;
  }
  .section2 .card .view {
    display: none;
  }
  .section2 .card .name {
    font-size: 14px;
    line-height: 22px;
  }
  .title > button {
    transform: scale(0.8);
    position: absolute;
    right: 20px;
    z-index: 900;
  }
  .title > .prev {
    right: 56px;
  }
  .section3 {
    display: block;
    padding: 0px;
    height: 190px;
    margin-bottom: 140px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/main/sec3.png);
    background-size: 200%;
    background-position: -122px -154px;
    background-repeat: repeat, no-repeat;
  }
  .section3 > .img {
    display: none;
  }
  .section3 > div:last-child {
    top: 0px;
    background-color: white;
    padding: 40px;
    margin: 20px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 50px;
    left: 0;
  }
  .section3 h3 {
    font-size: 22px;
    margin-bottom: 16px;
    margin-top: 14px;
    text-align: center;
  }
  .section3 span {
    font-size: 16px;
  }
  .section3 .shortcut {
    transform: scale(0.8);
  }
  .section4 {
    padding: 20px 0 70px 0;
  }
  .section4 h3 {
    margin-left: 20px;
  }
  .section4 .shortcut {
    column-gap: 16px;
    width: 100%;
    overflow: hidden;
    height: fit-content;
  }
  .section4 .shortcut > a {
    width: 74px;
    height: 74px;
    flex: 0 0 74px;
  }
  .section4 .shortcut > a > i {
    transform: scale(0.6);
  }
  .section4 .shortcut > a:nth-child(1) > i {
    margin: 7px;
  }
  .section4 .shortcut > a:nth-child(2) > i {
    margin: 7px 0px 0px 1px;
  }
  .section4 .shortcut > a:nth-child(3) > i {
    margin: 4px;
  }
  .section4 .shortcut > a:nth-child(4) > i {
    margin: 8px 0px 0px 7px;
  }
  .section4 .shortcut > a:nth-child(5) > i {
    margin: 0px 0px 0px 13px;
  }
  .section4 .shortcut > a:nth-child(6) > i {
    margin: 32px 0px 0px 14px;
  }
  .section4 .shortcut > a:first-child {
    margin-left: 20px;
  }
  .section4 .shortcut > a > span {
    display: none;
  }
  .section5 {
    padding: 50px 0;
  }
  .section5 h3 {
    margin-left: 20px;
    margin-bottom: 30px;
  }
  .section5 .name h4 {
    font-size: 16px;
  }
  .section5 .name span {
    display: none;
  }
  .section5 .card_con {
    left: 20px;
    column-gap: 14px;
  }
  .section5 .img {
    width: 320px;
    height: 244px;
  }
  .section6 {
    padding: 60px 20px;
    padding-bottom: 100px;
  }
  .section6 table td {
    padding: 24px 0;
  }
  .section6 table td:nth-child(1) {
    width: 100%;
  }
  .section6 table td:nth-child(1) a {
    font-size: 16px;
    left: 0;
  }
  .section6 table td:nth-child(1) a::before {
    display: none;
  }
  .section6 table td:nth-child(1) a::after {
    display: none;
  }
  .section6 table td:nth-child(2) {
    display: none;
  }
  .section6 table td:nth-child(3) {
    display: none;
  }
  .section7 {
    padding: 0;
  }
  .section7 > a {
    height: 222px;
  }
  .section8 {
    position: relative;
    padding: 70px 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vw;
  }
  .section8 > span {
    font-size: 6.5vw;
  }
  .section8 img {
    width: 64vw;
  }
  .section8 > .high {
    width: 14vw;
    height: 12vw;
    left: 18vw;
    top: 57px;
    z-index: -998;
  }
  footer .up {
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
  }
  footer .up .line {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #c5c5c5;
    top: 90px;
  }
  footer .up ul {
    position: relative;
    top: -29px;
  }
  footer .up ul > li {
    flex-shrink: 0;
  }
  footer .up li a {
    font-size: 14px;
  }
  footer .up .sns {
    position: relative;
    top: 34px;
  }
  footer .down {
    flex-direction: column;
    gap: 30px;
    padding: 85px 20px;
  }
  footer .left {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  footer .right {
    align-items: center;
    text-align: center;
  }
  footer .right > div {
    margin-bottom: 24px;
    width: 100%;
  }
  footer .right a {
    width: 100%;
    padding: 15px 0;
  }
  footer .right span {
    margin-bottom: 14px;
  }
  .body_bg {
    width: 235px;
    top: -1414px;
  }
}
